/target
/dist
**/.env_local_db
.env
node_modules/
/test-results/
/playwright-report/
/playwright/.cache/
courses should
.DS_Store
.git
.env_prod
.env_dev
/test-results/
/playwright-report/
/blob-report/
/playwright/.cache/
playwright/.auth
